.align{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  outline: none;
box-shadow: none;
position: relative;
bottom: 20px;

/* margin-top: 0px; */
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file1{
  width: 62.5rem;
  height:25rem ;
  border: none;
  border-radius: 30px;
  border-color: rgb(247, 253, 251);
  border-width: 5px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 15px;
  border-style: ridge;
  /* flex-wrap: wrap; */
  overflow: auto;
}

.icon{
width: 80px;
height: 70px;
background-color: aliceblue;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 30px; 
}

.demo{
  text-align: center;
  word-break: break-word;
  width: 90%;
  padding-top: 5%;
}
.demo2{
  
  border-radius: 2px;
  background-image: linear-gradient(#b82f0d,#08320b);
}

input[type=file]::file-selector-button {
  height: 50px;
  width: 175px;
  border-radius: 20px;
  font-size: 20px;
  background-color: transparent;
  /* background-color: #00d3ee;
  background-image: linear-gradient(to right #baf8f4); */
  font-family: 'STIX Two Text', serif;
  margin-right:10px;
  /*color:white;*/
  font-weight: 600;

}
.example-button-row button,
.example-button-row a {
margin-right: 8px;
}

th, td {
border: 1px solid black;
border-collapse: collapse;
word-break: break-all;
}


tbody {
display:block;
height:230px;
overflow:auto;
}

tbody::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb {
  background: #c9e296;
  border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb:hover {
  background: #9FC356;
}
thead,tbody tr {
display:table;
width:100%;
table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
width: calc( 100% - 1.25em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table{
border: 1px solid black;
border-collapse: collapse;
height:80px;
width:40px;
margin-top:70px;
}


/* .saya{
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
} */


.buybtn{
margin-left: 12px;
} 

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px; 
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.icon1 {

margin-left :850px;
margin-top: 10px;
margin-bottom: 6px;
/* position: fixed; */
justify-content: center;
font-size: 28px;
}  

table {
width: 100%;
}


.index{
  border: 1px solid black;
  margin: 2% 3%;
}
.content-list{
  height: 100%;
}
.search-filter{
  border-radius: 22px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
  width: 35%;
  display: flex;
  align-items: center;
}
.search-input-field:focus{
  outline: none;
}
.dataTables_filter{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 @media only screen and (max-width: 600px) { 
  .index{
      margin: 10% 5%;
  }
  .dataTables_filter{
      justify-content: flex-start;
  }
  .search-filter{
      margin: 3%;
      width: 100%;
  }
}  


/* @media only screen and (max-width: 600px) {
  html{
      width: auto;
  }
  .ngx-datatable{
      height: auto !important;
  }
  .ngx-datatable .datatable-body{
      height: 28rem !important;
      overflow-y: auto !important;
      overflow-x: hidden !important;
  }
  .module-title{
      font-size: 1.0rem;
      display: flex;
      align-items: center;
  }
  .head-part{
      margin: 4% 3%;
  }
  .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .description{
      width: auto;
      height: 25rem;
      margin: 2% 4%;
      padding: 1% 1% 0 0;    
  }
  .description-full-window{
      height: 25rem;
      margin: 2% 4%;
      padding: 1% 1% 0 0;
  }
  .code-snippet{
      width: auto;
      height: 12rem;
      margin: 2% 4%;
      padding: 3%; 
  }
  datatable-header-cell{
      width: 17rem;
  }
  datatable-body-cell{
      background-color: white !important;
      width: 17rem;
  }
  datatable-body-row{
      width: 100% !important;
  }
  datatable-scroller{
      width: 100% !important;
  }
  .datatable-header-inner {
      width: 100% !important;
  }
  .datatable-row-center{
      width: 100% !important;
  }
  .datatable-body-cell-label{
      background-color: white !important;    
  }
} */


