.align{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  font-family: 'WorkSans-Bold';
  outline: none;
box-shadow: none;
position: relative;
bottom: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demo{
  margin-left: 7rem;
}
.file1{
  width: 62.5rem;
  height:25rem ;
  border: none;
  border-radius: 30px;
  border-color: rgb(247, 253, 251);
  border-width: 5px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 13px;
  border-style: ridge;
  /* flex-wrap: wrap; */
}

.icon{
width: 80px;
height: 70px;
background-color: aliceblue;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 30px; 
}


input[type=file]::file-selector-button {
  height: 50px;
  width: 175px;
  border-radius: 20px;
  font-size: 20px;
  background-color: transparent;
  font-family: 'WorkSans-Bold';
  margin-right:10px;
  font-weight: 600;

}
input[type='file'] {
  color: transparent;
}
.example-button-row button,
.example-button-row a {
margin-right: 8px;
}


.example-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.example-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.example-container::-webkit-scrollbar-thumb {
  background: #c9e296;
  border-radius: 10px;
}

.example-container::-webkit-scrollbar-thumb:hover {
  background: #9FC356;
}
.example-container {
  height:274px;
  max-width: 100%;
  overflow: auto;
  margin-top:25px;
  border:1px solid black;
  font-family: 'WorkSans-Regular';

} 

table {
  width: 100%;

}


.buybtn{
margin-left: 12px;
} 

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px; 
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.icon1 {

margin-top: 10px;
margin-bottom: 0px;
/* position: fixed; */
justify-content: center;
font-size: 28px;
}  

@media screen and (min-width: 1024px){
  .media{
    font-size:40px !important;
  }
}

@media screen and (min-width: 240px){
  .media{
    font-size:35px !important
  }
}

@media screen and (min-width: 640px){
  .media{
    font-size:40px !important
  }

}


