<app-loader *ngIf="isLoading"></app-loader>
<app-header></app-header>
<div class="content-block">
    <div class="content-header col-lg-12 col-sm-12 col-sm-12 pl-0">
        Split PDF Files
    </div>
    <div class="row pt-1 pl-2">
        <div class="list-of-content-items col-xl-2 col-lg-3 col-md-4 col-sm-6 col-7 pl-0">
            <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' id="fileUpload" role="button"   accept=".pdf" (change)="onFileChange($event)" />
                <div class="drag-text">
                  <i class="fas fa-cloud-upload-alt upload-icon"></i>
                  <h3>Drag and drop a file or select file</h3>
                </div>
            </div>
                <!-- <input type="file"   id="fileUpload" role="button"   accept=".pdf" (change)="onFileChange($event)" > -->
        </div>
        <div class="d-none d-xl-block d-lg-block d-md-none d-sm-none item-separator"></div>
        <div
            class="
            col-xl-9 col-lg-8 col-md-10 col-sm-11 col-11 
            pl-xl-5 pl-md-0 pl-lg-5 pl-sm-0 pl-0 
            mt-xl-0 mt-md-3 mt-lg-0 mt-sm-2 mt-2 pr-0"
        >
            <div *ngIf="isShown" class="d-flex flex-column container-fluid file1  col-sm-40 col-100 " id="divshow" >
                <div class="w-100 d-flex justify-content-between">
                    <div class=drop>
                        <label style="padding-right:12px;">Selected Ranges : </label>
                        <div class="pt-3 d-flex flex-column">
                        <input class="input-field form-control form-control-sm" 
                            autocomplete="off" 
                            placeholder="Selected Range" 
                            type="text"
                            id="ranges"
                            [(ngModel)]="ranges" 
                        />
                        <div *ngIf="validationFlag===false" class="invisible invalid">Hidden validation block</div>
                        <div *ngIf="validationFlag===true" class="pt-1 invalid"> 
                            {{invalidFormatValidation}}
                        </div>
                    </div>	
                    </div>
                    <div class="icon1">
                        
                        <button type="button" (click)="submit()"class="btn btn-dark buybtn">Split</button>
                        
                    </div>
                </div>
                
                <div *ngFor="let file of files" class="saya">
                    <div class="icon"><i class="fas fa-file-alt"></i></div>
                    <div  class="demo1">{{file}}</div>
                </div>
               
            </div> 
        </div>
    </div>
</div>
<app-footer ></app-footer>
