/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('./assets/fonts/WorkSans-Regular.ttf');
}
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('./assets/fonts/WorkSans-Bold.ttf');
}
html{
    overflow-y: hidden;

}
body{
    margin: 0;
    background-color: #fafafa; 

}
input:focus, button:focus{
    box-shadow: none !important;
    outline: 0 !important;
}
/* Home component css */
.heading{
    font-family: 'WorkSans-Bold' !important;
    font-size: 1.2rem !important;
}
.text{
    font-family: 'WorkSans-Regular';
    font-size:0.8rem;
}

.card{
    border-radius: 15px;
	background-color: #fff;
    display: flex;
    flex-direction: column;
    position:relative;
     padding: 8% 6%; 
     padding-top: 15px;
    /* padding:4rem; */
    margin:10px 10px 30px;
    box-shadow: 2px 2px 3px 1px rgb(191 191 191);
    height:15rem;

}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100% !important;
}

.sideBarOpen{
    margin: 0 0 0 221px !important;
}
.sideBarClose{
    margin: 0 0 0 81px !important;
}
.mat-drawer{
    min-width: 70px;
    /* position: relative !important; */
}
/* .mat-drawer-container{
    display: flex !important;
} */
.mat-list-base{
    width: 100%;
    padding: 15px 15px 15px 20px;
}
.mat-drawer-side {
    border-right: 1px solid rgba(0,0,0,.12);
}
.custom-tooltip {
    background-color:white;
    height: auto;
    color: #9FC356 !important;
    font-family: 'WorkSans-Regular';
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgb(28 28 28 / 35%);
  }

/* datatable*/
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell{
    padding: 0.25rem 0.55rem !important;
    }

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{
        padding: 0.25rem 0.55rem !important;
}
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label{
            font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-footer .page-count{
    padding: 0 0.6rem !important;
}
input:focus{
    box-shadow: none !important;
    }
.ngx-datatable{
        height: 69vh !important;
        border: 1px solid black;
    margin: 2% 3%;
    

        }

.ngx-datatable .datatable-body{
    height: 60vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    }
    
.datatable-header-cell{
    width: 100% !important;

    }

datatable-body-cell{
    background-color: white !important;
    width: 100% !important;
    /* border: 1px solid black; */

    }
datatable-body-row{
    border: 1px solid #dddddd;

    }
            
    .datatable-header-inner {
        width: 100% !important;

        }
.datatable-row-center{
    width: 100% !important;

    }


html, body { height: 100%; margin: 0; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
